.dataTables_filter.text-right {
    text-align: right;
}
.button1{
    background-color:  rgba(121, 21, 99, 0.671);
    color: white;
}
.button1 .dropdown-toggle {
    color: white;
}

.button2{
    background-color: purple
}
.button2 .dropdown-toggle {
    color: white;
}
