.cardEtudp {
    background-color: white;
    padding: 20px;
    margin-top: -1100px;
    margin-left: -700px;
    margin-bottom: -200px;
}
.logoYalla {
    margin-top: -100px;
    width: 200px;
    height: 200px;
    margin-left: 130px;
}
.NumTel{
    width:220px;
}
.inscription {
    color: black;
    margin-top: -20px;
    margin-left: 130px;
}

mtext{
    color: white;
}

.buttonCrea, .buttonEtud {
    color: white;
    margin-bottom: 20px;
}

.buttonEtud {
    background-color: rgba(121, 21, 99, 0.671);
    margin-left: 950px;
    margin-right: 50px;
    margin-top: -450px;
    position: absolute;
    top: 0%;
    color: white;
}
.buttonEtud .dropdown-toggle {
    color: white;
}
.buttonCrea{
    margin-left: 400px;
    margin-top: -450px;
    position: absolute;
    top: 0%;
    color: white;
}
.buttonCrea .dropdown-toggle {
    color: white;
}
.btnConnexion{
    color: white;
}
.btnConnexion .dropdown-toggle {
    color: white;
}




.buttonText {
    background-color: white;
    border-color: purple;
    margin-right: 50px;
}

.input-group-text {
    margin-left: -35px;
}

.email,.password,.Cpassword,.lienInsta,.lienFacebook,.lienTikTok{
    width: 400px;
    height: 40px;
   

}
.checkConditions{
    margin-top: -13.3px;
    background-color: purple;
}
.min-height-200px{
    min-height: 500px;
}

.action-btns {
    display: flex;
    gap: 25px;
    flex-direction: column;
}
.action-btns .btnInscri,.btnConnexion{
    font-family: 'Roboto', sans-serif;
    color: white;
}
.action-btns .compteExist{
    color: gray;
    text-align: center;
}

