.cardCreap {
    background-color: white;
    padding: 20px;
    margin-top: -700px;
    margin-left: -500px;
    margin-bottom: -180px;
}
.logoYalla1{
    margin-top: -100px;
    width: 200px;
    height: 200px;
    margin-left: 270px;
}
.inscription1 {
    color: black;
    margin-top: -20px;
    margin-left: 270px;
}


.buttonCrea, .buttonEtud {
    color: white;
    margin-bottom: 20px;
}

.buttonEtud {
    background-color: rgba(121, 21, 99, 0.671);
    margin-left: 950px;
    margin-right: 500px;
    margin-top: -450px;
    position: absolute;
    top: 0%;
    color: white;
}
.buttonEtud .dropdown-toggle {
    color: white;
}
.buttonCrea{
    margin-left: 400px;
    margin-top: -450px;
    position: absolute;
    top: 0%;
    color: white;
}
.buttonCrea .dropdown-toggle {
    color: white;
}




.buttonText {
    background-color: white;
    border-color: purple;
    margin-right: 50px;
}

.input-group-text {
    margin-left: -35px;
}

.anniversaire{
    width: 400px;
    height: 40px;
    border-color:#70218f;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 15px;

}
.nom,.prenom,.email,.password,.Cpassword,.lienInsta,.lienFace,.lienTik,.domaine,.adresse {
    width: 400px;
    height: 40px;
}
.num{
    width: 270px;
    height: 40px;
}
.checkConditions{
    margin-top: -13.3px;
    background-color: purple;
}
.min-height-200px{
    min-height: 500px;
}
.choix1{
    font-size: smaller; /* ou une taille de police plus petite de votre choix */
    color: gray;
    text-align: center;
    margin-top: -1600px;
    margin-bottom: -100px;
    margin-right: -1700px;
    margin-left: -850px;

}
.action-btns {
    display: flex;
    gap: 25px;
    flex-direction: column;
}
.action-btns .btnInscri,.btnConnexion{
    font-family: 'Roboto', sans-serif;
    color: white;
}
.action-btns .compteExist{
    color: gray;
    text-align: center;
}
.btnConnexion{
    color: white;
}
.btnConnexion .dropdown-toggle {
    color: white;
}
.buttonCre{
    margin-left: 650px;
    margin-right: 50px;
    margin-top: -450px;
    position: absolute;
    top: 0%;
    color: white;
}
.buttonEtud1{
    background-color: rgba(121, 21, 99, 0.671);
    margin-left: 1100px;
    margin-right: 50px;
    margin-top: -450px;
    position: absolute;
    top: 0%;
    color: white;
    

}
.mtext{
    color: white;
}

