
.btnEnr {
    background-color: purple;
    color: white;
}

.btnEnr.dropdown-toggle {
    color: white;
}

.btnCloture {
    background-color: purple;
    color: white;
}

.btnCloture.dropdown-toggle {
    color: white;
}
.btnSupp{
    color: white;
    background-color: rgb(197, 36, 85);
}
/* styles.css */
.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.custom-table th {
  background-color: #f2f2f2;
  color: #333;
}
/* Ajouter de l'espace entre les champs du formulaire et le modèle */
.form-group {
  margin-bottom: 15px; /* Ajoute un espace en bas de chaque champ du formulaire */
}

/* Style du modèle */
.modal-content {
  margin-top: 20px; /* Ajoute un espace en haut du modèle */
  padding: 20px; /* Ajoute un espace intérieur au modèle */
}

/* Style de la modal-header */
.modal-header {
  padding-bottom: 10px; /* Ajoute un espace en bas de l'en-tête de la modal */
}

/* Style de la modal-footer */
.modal-footer {
  padding-top: 10px; /* Ajoute un espace en haut du pied de page de la modal */
}


  