
.btnEnr {
    background-color: purple;
    color: white;
}

.btnEnr.dropdown-toggle {
    color: white;
}

.btnCloture {
    background-color: purple;
    color: white;
}

.btnCloture.dropdown-toggle {
    color: white;
}
.btnSupp{
    color: white;
    background-color: rgb(197, 36, 85);
}
