h5{
    text-align: center;
    color:purple
}
.btn-purple {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-purple:hover {
    background-color: purple; /* Couleur de survol */
}
hr {
    border: none;
    border-top: 1px solid transparent; /* Bordure transparente */
    border: 0; /* Bordure avec largeur nulle */
}