.search-input {
    width: calc(50% - 50px); /* Définir la largeur de l'entrée de texte */
    height: 40px; /* Définir la hauteur désirée */
    font-size: 16px; /* Définir la taille de la police */
    margin-right: 5px; /* Réduire la marge à droite de l'entrée de texte */
  }
  
  .search-button {
    height: 40px; /* Assurez-vous que la hauteur du bouton est la même que celle de l'entrée de texte */
    font-size: 16px; /* Définir la taille de la police */
    margin-left: 10px; /* Ajouter un espace entre le champ de recherche et le bouton */
  }
  .add-video-button {
    margin-left: 500px; /* Ajoute un espace entre le bouton de recherche et le bouton d'ajout de vidéo */
  }
  .search-bar {
    display: flex;
    align-items: center;
  }
  .button-container {
    display: flex;
    justify-content: center; /* Pour aligner les boutons au centre horizontalement */
}

.button-container button {
    margin: 0 5px; /* Pour ajouter un peu d'espace entre les boutons */
}
.like-container {
  margin-top: 2px;
  margin-right: 20px;
  display: flex;
  align-items: center; /* Aligner verticalement les éléments */
}

.like-container > svg {
  color: #70218f; /* Changer la couleur de l'icône en violet */
  margin-right: 5px; /* Espacement entre l'icône et le texte */
}

.white-text {
  color: white;
}
.card-box-Etud {
  border: 2px solid purple;
}
.comment-container {
  display: flex;
  flex-direction: column;
}

.comment-container form {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajouter un espace entre le formulaire et les commentaires */
}
.comment-container form .comment {
  flex: 1; /* Le champ de commentaire occupe tout l'espace disponible */
  margin-right: 10px; /* Espacement entre le champ de commentaire et le bouton Ajouter */
}

.comment-container form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: purple;
}

.comment-item {
  display: flex;
  justify-content: space-between; /* Pour placer le bouton de suppression à droite */
  align-items: center;
  margin-bottom: 10px; /* Espacement entre chaque commentaire */
}

.delete-button {
  color: purple;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.like-container{
  margin-top: 10px;
  padding-right: 180px;
}
.blur-background {
  filter: blur(5px);
}
.comment-reply {
  margin-left: 20px; /* Espacement pour indiquer la réponse */
}


  
  