.loader {
    perspective: 800px;
  }
  
  .cube {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 3s linear infinite; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ajout d'une ombre */
    border-radius: 20px; /* Coins arrondis */
  }
  
  
  .face {
    width: 200px;
    height: 200px;
    position: absolute;
    opacity: 0.8;
    border: 2px solid #ffffff; /* Bordure blanche */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
  }
  
  .centered-text {
    text-align: center;
  }
  
  .front {
    transform: translateZ(100px); /* Rotation de 0 degrés */
    background-color: purple;
  }
  
  .back {
    transform: rotateY(180deg) translateZ(100px); /* Rotation de 180 degrés */
    background-color: rgba(121, 21, 99, 0.671);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(100px); /* Rotation de -90 degrés */
    background-color: rgb(168, 118, 168);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(100px); /* Rotation de 90 degrés */
    background-color: rgb(141, 96, 124);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(100px); /* Rotation de 90 degrés */
    background-color: #9b59b6;
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(100px); /* Rotation de -90 degrés */
    background-color: #883155;
  }
  
  @keyframes spin {
    0% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
    }
  
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
  .card-boxPE{
    margin-right: -1250px;
    margin-top: -500px;
  }
  .card-boxPC{
    margin-right: -150px;
    margin-top: -400px;
    margin-left: 490px;
    margin-bottom: -50px;
  }
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  