body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
.smaller-text {
    font-size: 14px; /* Adjust the font size as needed */
    color: black;
}
.yalla-word {
    color: #70218F;
}
.fa-tiktok {
    color: white;
}
.bigger-word {
    font-size: 1.2em; /* Taille de police souhaitée */
    font-weight: bold; /* Mise en gras */

}

/* Ajoutez ces styles CSS à votre feuille de style */
.testimonial-content {
    transition: transform 0.3s ease-in-out;
  }
  
  .testimonial-content:hover {
    transform: translatex(-10px); /* Déplace l'élément de 10px vers le haut au survol */
  }
  .social img {
    vertical-align: middle; /* Centrez l'image verticalement */
  }
  /* Style pour le lien principal de la formation */
.nav-link.dropdown-toggle {
    color: #333; /* Couleur du texte */
    font-weight: bold; /* Gras */
}

/* Style pour les éléments du menu déroulant */
.dropdown-menu {
    background-color: #f8f9fa; /* Couleur de fond */
    border: none; /* Suppression de la bordure */
    border-radius: 0; /* Pas de bordure arrondie */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ombre légère */
}

/* Style pour les liens dans le menu déroulant */
.dropdown-item {
    color: #333; /* Couleur du texte */
    font-size: 14px; /* Taille du texte */
}

/* Style pour les liens au survol */
.dropdown-item:hover {
    background-color: #e9ecef; /* Couleur de fond au survol */
}

/* Style pour les liens actifs */
.dropdown-item.active,
.dropdown-item:focus {
    background-color: #007bff; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
}
.w3l-teams-32-main {
    background-color: white;
}






